<div class = "container" *ngIf="table">
  <div class="col-xs-12 col-md-4">
      <h2>
        {{table.id}}. {{table.name}}
      </h2>
      <div class="panel panel-default" *ngIf="table.attributes">
        <!-- Default panel contents -->
        <div class="panel-heading" >{{table.name}}</div>
      
        <!-- Table -->
        <table class="table" >
          <thead>
            <tr>
              <th>#</th>
              <th>max</th>
              <th>min</th>
              <th>mean</th>
              <th>count</th>
              <th>stddev</th>
            </tr>
          </thead>
          <tbody *ngFor="let attribute of table.attributes">
            <tr>
              <td>{{attribute.name}}</td>
              <td>{{attribute.max}}</td>
              <td>{{attribute.min}}</td>
              <td>{{attribute.mean}}</td>
              <td>{{attribute.count}}</td>
              <td>{{attribute.stddev}}</td>
            </tr>
          </tbody>

        </table>
        

        <div class="panel-heading" *ngIf="table.source_name" >source table : {{table.source_name}}</div>
      
        <!-- Table -->
        <table class="table" *ngIf="table.source_name">
          <thead>
            <tr>
              <th>#</th>
              <th>max</th>
              <th>min</th>
              <th>mean</th>
              <th>count</th>
              <th>stddev</th>
            </tr>
          </thead>
          <tbody *ngFor="let attribute of table.source_attributes">
            <tr>
              <td>{{attribute.name}}</td>
              <td>{{attribute.max}}</td>
              <td>{{attribute.min}}</td>
              <td>{{attribute.mean}}</td>
              <td>{{attribute.count}}</td>
              <td>{{attribute.stddev}}</td>
            </tr>
          </tbody>

        </table>

      </div>
      <p *ngIf="table.accuracy">Accuracy: {{table.accuracy}}</p>

  </div>  
    <div class="hidden-x col-sm-10 col-md-8" *ngIf="table.stream_name">
        <app-monitor></app-monitor>
    </div>

</div>
  