<div class="container" >
<div class="col-sm-10 col-md-8">


    <div class="btn-group">
        <div> attribute: {{selectedValue}}</div>
        <button class="btn dropdown-toggle" data-toggle="dropdown">Attributes <span class="caret"></span></button>
        <ul class="dropdown-menu" >                
          <li  *ngFor="let attr of stream_attributes"(click)="onSelect(attr)">{{attr}}</li>            
        </ul>
          
    </div><!-- /btn-group -->
        
    
    <div id="chart_container">
    <div id="chart"></div>
    <div id="legend_container">
            <div id="smoother" title="Smoothing"></div>
            <div id="legend"></div>
          </div>  
          <div id="slider"></div>
    </div>
</div>
</div>